.button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    position: relative;
    margin-top: 16px;

    border-radius: 8px;
    border-width: 2px;
    box-sizing: border-box;
    background-color: #000000;
    
    width: 312px;
    height: 56px;
    
    color: #ffffff;
    font-family: 'font';
    text-align: center;
    text-decoration: none;
    font-size: 20px;

    overflow: hidden;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.button:hover {
    scale: 1.05;
    transition: 200ms;
}

.button_icon {
    margin-right: 8px;
}
